* {
  padding: 0;
  margin: 0;
}

#calendar {
  width: 70%;
  height: 100%;
  margin: 100px 15%;
  border: 1px solid;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  position: relative;
}

.day {
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(241, 241, 241, 0.4);
}

.head-day {
  background: rgba(241, 241, 241, 1);
}

.col-day {
  background: rgba(241, 241, 241, 1);
}

.header {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: rgb(173, 173, 173, 0.5);
  display: flex;
}
table {
  top: 100px;
  width: 70%;
  border-spacing: 0;
  table-layout: fixed;
  position: relative;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}
.days {
  color: black;
  text-align: center;
  position: relative;
  border-collapse: collapse;
}
.hour {
  color: rgb(0, 0, 0);
}
th {
  text-align: center;
  border: 1px solid rgb(160, 160, 160);
  padding: 8px;
}
td {
  text-align: left;
  border-right: 1px solid rgb(160, 160, 160);
  border-left: 1px solid rgb(160, 160, 160);
  padding: 8px;
  border-bottom: 1px dotted black;
}

.hour{
    font-size: 16px;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
}

/*#inputNotes{
    height: 100px;
}*/

#hiddenForm {
    /*width: 500px;
    display: none;
    
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 999; */

    flex-direction: column;
    background-color: rgba(236, 214, 186, 0.9);
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black;

    display:none;
    position:fixed;
    z-index:1;
    padding-top:10px;
    left:40%;
    top:20%;
    width:250px;
    height:175px;
}

/*.dates{
    padding: 20px;
    width: 450px;
    flex-direction: row;
}*/

.formRow {
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  width: auto;
  flex-direction: row;
}

.content{
    background-color: cadetblue;
    height: 100%;
    position: absolute;
    width: 100%;
}

#apointmentButton {
  position: absolute;
  top: 100px;
}

.booked {
  background-color: green;
}

.booking-day:hover {
  background-color: rgba(10, 10, 10, 0.6);
}